*{
  box-sizing: border-box;
}


body {
  margin: 0;
}
button:hover, .hover:hover{
  cursor: pointer;
}

.hover{
  color:grey;
  text-decoration: none;
}

.hover_clicked{
  text-decoration: underline;
  color:lightyellow;
  font-weight: bold;
  cursor:pointer;
}



.popular{
  color:lightyellow;
  font-weight: bold;
}
/*Header */


.headerButtons{
  display: flex;
  gap:10px
}

.header{
  display: flex;
  height:60px;
  align-items: center;
  justify-content: space-between;

  background-color: black;
}

.filter{
  width:250px;
  height:27px
}

.input_search{
  width:300px
}

.headImg{
  cursor: pointer;

}

.leftHeader{
  display:flex;
  width:30%;
  
  justify-content: space-around;
  color:grey;
}

.middleHeader{
  display:flex;
  gap:10px;
  margin-left: 30px;
}


.homeOnly-container{
  width:100%;

}

.homeOnly{  
  display:flex;
  justify-content: center;
  width:100%;
  color:lightyellow;
  font-size:1.5em;
  
  font-weight: bold;
  justify-self: left;

}



.rightHeader{
  display:flex;
  margin-right: 20px;
  gap:8px;
}

.rightHeader>button{
  display:flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  width:60px;
  height:30px;
  border-color: white;
  border-width:1px;
}

.search{
  margin-right:40px;
  font-size: 1.1em;
}

.logIn{
  background-color: black;
  color:grey;
}

.register{
  background-color: orange;
  color:black;
}



/*Login page*/

.loginPage{
  margin-top: 50px;
  display:flex;
  flex-direction: column;
  width:100vw;
  align-items: center;

}

.loginPage>form{
  width: 500px;
}

.loginText{
  margin-right: 20px;
}


/*Register page*/

.registerPage{
  margin-top: 50px;
  display:flex;
  flex-direction: column;
  width:100vw;
  align-items: center;
}

.registerPage>form{
  width:500px;
}

.registerText{

}
/* articles page*/



.postStyle:hover{
  background-color: aqua;
}


.articles{
  display:flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;

}

.article{
  display:flex;
  flex-direction: column;
  width:600px;
  height:100px;
  margin:10px;
  border: solid lightgrey 2px;
  border-radius: 10px;
}

.article>*{
  margin: 5px 0 5px 0;
  margin-left: 5px;
}

.articleInfo{
  display: flex;
  width:100%;
  gap:20px;
  font-size: 0.9em;
  color:grey
}

.articleTitle{
  font-size: 1.05em;
  overflow-y:hidden;
  margin-bottom: 0;
  margin-top: 5px;
}

.articleButtons{
  display:flex;
  gap:20px;
}

.articleButtons>button{
  color:lightgray;
  border-radius: 3px;
  width:50px;
  min-height: 35px;
}

.viewButton{
  background-color: green;
}

.deleteButton{
  display:flex;
  justify-content: center;
  margin:0;
  border-radius: 3px;
}


.editButton{
  background-color: black;
}

.mainPage{
  position: relative;
  display:flex;
  flex-direction: column;
  align-items: center;
}

.post{/**/
  position:absolute;
  top:0;
  left:0;
}


/*Drawer*/

.drawer{
  width:700px
}

.drawerContent{
  position: relative;
  display: flex;
  flex-direction: column;
  gap:50px;
  margin-top: 30px;
}

.drawerWarning{
  position: absolute;
  left:35%;
  top: -10%;
}

.drawerWarning2{
  position: absolute;
  left:18%;
  top: -10%;
}

.drawerContent>*{
  display:flex;
}

.drawerContent input, .drawerContent textarea, .select{
  flex-grow: 1;
}

.labelSize{
  width:55px;
}

#input{
  height:25px;

}

#textarea{
  resize: vertical;
  height:300px;
}


/*Article Page*/
.newsPage{
  display:flex;
  flex-direction: column;

  align-items: center;
  margin-top: 50px;

}

.newsTitle{
  width:80%;
  display:block;
  text-align: center;
  font-size: 3.5em;
  font-weight: bold;
}

.newsAuthor{
  cursor: pointer;
  display:flex;
  width:80%;
  justify-content: right;
  margin: 10px;
  margin-top: 80px;
  font-size: 1.3em;
  opacity:0.8;
}

.newsType{
  display:flex;
  width:80%;
  justify-content: left;
  font-size: 1.3em;
  font-weight: bold;
  margin: 10px;

}

.newsContent{
  width:60%;
  font-size: 1.3em;
  line-height: 2;
  text-indent: 25px;
  text-align: justify;
}

.gotoTop{
  position: fixed;
  bottom: 50px;
  right: 50px;

  width: 50px;
  height: 75px;
  background-color: white;
  color: #333;
  font-size: 18px;
  text-align: center;
  line-height: 100px;
  cursor: pointer;
  border-radius: 10px;
  transition: background-color 0.2s ease-out;
  font-size: 1.5em;
}

.gotoTop::before{

  font-family: 'icomoon';
  font-size: 18px;
  font-weight: 700;
}

.gotoTop:hover{
  background-color: skyblue;
}


.leftSide{
  position: absolute;
  top:10%;
  left:3%;
  z-index: -1;
  color:lightgray
}

.rightSide{
  position: absolute;
  top:10%;
  right:3%;
  z-index: -1;
  color:lightgray
}

.drawer_content_container{

}

.drawer_content{
  width:  100%;
  height: 100%
}


.drawer-textarea{
  position: relative;
}


.displayLength{
  position: absolute;
  right:1%;
  bottom: -6%;
}

.displayLength_title{
  position: absolute;
  right:1%;
  bottom: -70%;
}

